{
  "ignorePatterns": ["node_modules/**/*"],
  "plugins": ["prettier", "@typescript-eslint", "cypress"],
  "extends": ["airbnb-typescript", "react-app", "prettier", "react-app", "react-app/jest"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "max-len": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
