@font-face {
  font-family: 'Rawline';
  src: url('../fonts/rawline-500.woff') format('woff');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Rawline';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
